NODE_ENV=production # production | development
CORS_ORIGIN="http://1.2.3.4:8080,http://1.2.3.4:6000" # skip on NODE_ENV=development
MPD_HOST=mpd # default: localhost
MPD_PORT=6600 # default: 6600
DATABASE_URL=file:./data/app.db
FAV_STATIONS_JSON="[{"name":"station","url":"https://station.com/web.mp3"}]"

ADD_I_RADIO_PREFIX=false
